/* fix search input white edge issue */

legend {
  width: auto;
}

.ant-tree {

    font-size: 16px;
    background: #ffffff;

}

.ant-tree .ant-tree-treenode {
    padding-bottom: 8px;
}

.ant-tree-indent {
    line-height: 1.0;
}

#pg_treeview {
    background: #ffffff;
}

#pg_treeview_paper {
    background: #ffffff;
}

#pgviewer h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: unset;
}

#pgviewer td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

#pgviewer table {
    border-color: #ccc;
}