body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pgviewer {
    font-size: 16px;
}

.attachment {cursor: pointer !important; }
.upload_error {background: #FFE5E0; border: 1px solid #EA644A; }
.attachment > img {     width: 32px;    vertical-align: middle;    padding-right:4px;}
.attachment > a {    text-decoration: none;    vertical-align: middle;}
.attachment > span {    vertical-align: middle;    padding-right:4px;}